# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [6]:
#print("This is string value "+ ", this is integer " + str(56) +", This is bolean value "  + str(True) + ", and this is float " + str(56.6))

str_value="This is string value"
int_value=56
bolean_value=True
float_value=56.7

print(f" string: {str_value}, integer:{int_value}, bolean:{bolean_value}, float:{float_value} ." )

 string: This is string value, integer:56, bolean:True, float:56.7 .

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [9]:
#print values separted by hyphon(-)
print(str_value, int_value, bolean_value, float_value, sep=" - ")

This is string value - 56 - True - 56.7

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [11]:
print(str_value,  end=" ")
print(  int_value, end=" ")
print( bolean_value, end=" ")
print(float_value, end=" ")

This is string value 56 True 56.7

4) Can a python print function take no value to print???

In [12]:
# type your answer here
# Yes. by default it prints a line
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [19]:
#type your code here
name="Mr. Ahmed"
age=30
profession="Lawyer"
passout_year=2005
employer_name="The Himalya Associates"
working_since=2015
height=5.10 #feets
weight=70600 #grams
income=200000 #PKR

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [20]:
#type your code here 
current_year=2022

print(f"No. of years {name} has been passout are: {current_year - passout_year} years. ")

No. of years Mr. Ahmed has been passout are: 17 years.

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [21]:
#type your code here 
print("number of years of workig",str(current_year-working_since))

number of years of workig 7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [22]:
#type your code here 
dollar_to_day_rate=223
income_in_dollars=income/dollar_to_day_rate
print("income in dollars is =", income_in_dollars)

income in dollars is = 896.8609865470852

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [23]:
#type your code here 
print("dollar to integer", int(income_in_dollars))

dollar to integer 896

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [26]:
#type your code here 
print("Mr. Ahmed weight", int(weight/1000), "kg")

Mr. Ahmed weight 70 kg

11) print the year of birth of Mr. Ahmed.

In [27]:
#type your code her

year_of_birth=current_year-age
print("Year of birth of Mr. Ali is:",year_of_birth)

Year of birth of Mr. Ali is: 1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [28]:
#type your code here 

print(100%6)

4